body {
  margin: 0;
  background-color: #000;
  background-image: radial-gradient(
    ellipse at top,
    #335476 0%,
    #31506e 11.1%,
    #304b67 22.2%,
    #2f4760 33.3%,
    #2d4359 44.4%,
    #2c3f51 55.6%,
    #2a3a4a 66.7%,
    #293643 77.8%,
    #28323d 88.9%,
    #262e36 100%
  );
  height: 100vh;
  overflow: hidden;

  font-family: monospace;
  font-weight: bold;
  letter-spacing: 0.06em;
  color: rgba(255, 255, 255, 0.75);
}

#c {
  display: block;
  touch-action: none;
  transform: translateZ(0);
}

/*/////////////////////
//        HUD        //
/////////////////////*/

.hud {
  opacity: 0;
}

.hud__score,
.pause-btn {
  position: fixed;
  font-size: calc(14px + 2vw + 1vh);
}

.hud__score {
  top: 0.65em;
  left: 0.65em;
  /* pointer-events: none;
  user-select: none; */
}

.cube-count-lbl {
  font-size: 0.46em;
}

/*/////////////////////
//       MENUS       //
/////////////////////*/

.menus::before {
  content: '';
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.2s;
  transition-timing-function: ease-in;
}

.menus.has-active::before {
  opacity: 0.08;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}

.menus.interactive-mode::before {
  opacity: 0.02;
}

/* Menu containers */
.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  /* opacity: 0; */
  visibility: hidden;
  transform: translateY(30px);
  transition-property: opacity, visibility, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}

.menus.interactive-mode .menu.active {
  opacity: 0.6;
}

/* Common menu elements */

h1 {
  font-size: 3rem;
  line-height: 0.95;
  text-align: center;
  font-weight: bold;
  margin: 0 0.65em 1em;
}

.final-score-lbl {
  font-size: 2rem;
  margin-bottom: 3rem;
}

button {
  display: block;
  position: relative;
  transition: opacity 0.3s;
  outline: none;

  border-radius: 5px;
  padding: 1em 1.5em;
  background: #0870a3;
  color: white;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  display: inline-block;
}

button::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.15);
  transform: scale(0, 0);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

/* No `:focus` styles because this is a mouse/touch game! */
button:active {
  opacity: 1;
}

button:active::before {
  transform: scale(1, 1);
  opacity: 1;
}

.credits {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 20px;
}

a {
  color: white;
}

/* Only enable hover state on large screens */
@media (min-width: 1025px) {
  button:hover {
    opacity: 1;
  }

  button:hover::before {
    transform: scale(1, 1);
    opacity: 1;
  }
}

input {
  font-size: 1em;
}
